li {
  list-style-type: none;
}

h2 {
  margin-bottom: 0;
}

.card {
  background-color: whitesmoke;
  width: 80vw;
  margin: 1.5rem auto;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 5px 0px 10px #000000;
}

.price {
  color: darkslategrey;
  font-weight: bold;
  margin-top: 0;
}

.category {
  background: darkslategrey;
  color: whitesmoke;
  border-radius: 6px;
  padding: 5px;
}

@media (min-width: 799px) {
  .card {
    background-color: whitesmoke;
    width: 25vw;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 5px 0px 10px #000000;
  }
}
