li {
  list-style-type: none;
}

h2 {
  margin-bottom: 0;
}

.card {
  background-color: whitesmoke;
  width: 80vw;
  margin: 1.5rem auto;
  padding: 20px 30px;
  border-radius: 2px;
  box-shadow: 2px 2px 10px 2px #8a8a8a;
}

.price {
  color: darkslategrey;
  font-weight: bold;
  margin-top: 0;
}

.category {
  background: darkslategrey;
  color: whitesmoke;
  border-radius: 6px;
  padding: 5px;
}

@media (min-width: 799px) {
  .card {
    background-color: whitesmoke;
    width: 27vw;
    padding: 20px 30px;
    border-radius: 2px;
    box-shadow: 2px 2px 10px 2px #8a8a8a;
    margin: 5px 10px 20px 5px;
  }
}
